# INFERUS
* @InferusSS14/maintainer
/Content.*/ @InferusSS14/maintainer @InferusSS14/dev
/Resources/Textures/ @InferusSS14/maintainer @InferusSS14/spriters
/Resources/Maps/ @InferusSS14/maintainer @InferusSS14/mappers
/Resources/Prototypes/ @InferusSS14/maintainer @InferusSS14/prototypers
/Resources/ServerInfo/ @InferusSS14/maintainer @InferusSS14/wiki
